body {
    font-family: Arial, sans-serif;
    background-color: #C71585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1E90FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #C71585;
}

p {
    margin-top: 20px;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
