<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listă Alunițe</title>
    <link rel="stylesheet" href="../Style/tabel.css">
</head>
<body>
    <div class="container">
        <h2>Listă Alunițe</h2>

        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Partea corpului</th>
                    <th>Dimensiune</th>
                    <th>Formă</th>
                    <th>Simetrie</th>
                    <th>Culoare</th>
                    <th>Descriere</th>
                    <th>Notă</th>
                    <th>Analiză</th>
                    <th>Acțiuni</th>
                </tr>
            </thead>
            <tbody>
                {% for mole in moles %}
                    <tr>
                        <td>{{mole.Date}}</td>
                        <td>{{mole.BodyLocation}}</td>
                        <td>{{mole.Size}}</td>
                        <td>{{mole.Shape}}</td>
                        {% if mole.IsSymmetrical == 1 %}
                            <td>Simetrica</td>
                        {% else %}
                            <td>Asimetrica</td>
                        {% endif %}
                        <td>{{mole.Color}}</td>
                        <td>{{mole.Description}}</td>
                        <td>{{mole.Grade}}</td>
                        {% if mole.IsCarcinogenic == 1 %}
                            <td>Cancerigenă</td>
                        {% else %}
                            <td>Non-Cancerigenă</td>
                        {% endif %}
                        <td><form action = "" method = "post">
                            <input type="hidden" name={{mole.User}} value={{mole.Description}}>
                            <button class="delete-button" id="button1" type="submit">Șterge</button>
                        </form></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action = "" method = "post">
            <input type="hidden" name="addMole" value="1">
            <button class="add-button" id="button1" type="submit">Adaugă Aluniță</button>
        </form>
    </div>

</body>
</html>
